html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: 100%/1.5 "Helvetica Neue", Arial, sans-serif;
  color: #333;
  background: #fff;
}

a {
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

p,
ul,
ol {
  margin: 0 0 1.5rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 0.75rem;
  font-weight: normal;
  line-height: 1.1;
}

.container {
  width: 96%;
  max-width: 1080px;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after {
  clear: both;
}
